# Бинарные файлы сборки
main
*.exe
*.out

# Директории с кэшем и зависимостями
/vendor/
node_modules/

# Артефакты сборки
*.a
*.o
*.so

# Локальные настройки IDE/редакторов
.vscode/
.idea/

# Файлы конфигурации, содержащие чувствительные данные
.env

# Docker файлы и кэш
Dockerfile
.dockerignore
/.cache
/tmp

# Логи и временные файлы
*.log
*.tmp

# Файлы, связанные с отладкой
*.test
*.prof

# go mod кэш
/go/pkg/mod/

# Локальные тестовые базы данных
*.db

